body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    display: flex;
    padding-left: 0;
    list-style-type: none;
  }
  
  li {
    margin: 5px;
  }
  
  .active {
    color: #ffd700;
  }